In [14]:
import pandas as pd
import numpy as np

# Read the file
filename = 'diabetes.csv'
data = pd.read_csv(filename)
data.head()

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive

In [16]:
from sklearn import preprocessing
# convert class tested_negative or tested_positive to 0 or 1
label_enc = preprocessing.LabelEncoder()
data['class'] = label_enc.fit_transform(data['class'].astype(str))
data.head()

   preg  plas  pres  skin  insu  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1